alembic
bcrypt==4.0.1
fastapi
httpx
jinja2
numpy
openpyxl
pandas
passlib[bcrypt]==1.7.4
playwright
psycopg[binary]
pydantic-settings
pyjwt
pytest
pytest-asyncio
python-multipart
sqlalchemy
uvicorn[standard]
